<div id="contact-container">
  <div class="pic">
    <img src="{{ site.baseurl }}/assets/sam-2023.jpeg" alt="Photo of Sam
    Buchanan" style="border-radius: 15px;">
  </div>
  <div class="info">
    <h3>Sam Buchanan</h3>
    <p>
      Postdoctoral Scholar
      <br>
      <a href="https://berkeley.edu/">
        University of California, Berkeley
      </a>
      <a id="email-small" href="mailto:sdbuchanan@berkeley.edu">sdbuchanan@berkeley.edu</a> 
    </p>
    <p id="address"><a href="mailto:sdbuchanan@berkeley.edu">sdbuchanan@berkeley.edu</a></p>
  </div>
</div>
