<div id="contact-container">
  <div class="pic">
    <img src="{{ site.baseurl }}/assets/sam-2023.jpeg" alt="Photo of Sam
    Buchanan" style="border-radius: 15px;">
  </div>
  <div class="info">
    <h3>Sam Buchanan</h3>
    <p>
      Research Assistant Professor
      <br>
      <a href="https://ttic.edu/">
        Toyota Technological Institute at Chicago
      </a>
      <a id="email-small" href="mailto:sam@ttic.edu">sam@ttic.edu</a> 
    </p>
    <p id="address"><a href="mailto:sam@ttic.edu">sam@ttic.edu</a> <br>
    6045 South Kenwood Ave, 411 <br>
    Chicago, IL 60637</p>
  </div>
</div>
