<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?v={{ site.time | date: '%s' }}">
  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">

  {% include head_custom.html %}

  {% include fonts.html %}
  {% include google_analytics.html %}
</head>
